@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 214, 219, 220;
}



.button {
  background-color: rgb(var(--foreground-rgb));
  @apply rounded-md px-2 py-1 inline-block;
  color: rgb(var(--background-rgb));
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
    
  }

  .button {
    background-color: rgb(var(--foreground-rgb));
    color: rgb(var(--background-rgb));
  }  
}

.panel,
body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}



.text p+p {
  @apply mt-4;
}

details > summary::before {
  content: '+';
  display:inline-block;
  width: 1em;

}
details[open] > summary::before {
  content: '–';
  display:inline-block;
  width: 1em;
}
details > summary {
 cursor: pointer;
 list-style: none;
 @apply m-1;

}

.filter-panel {
  transform: translate3d(200px, 0, 0);
}

.shade {
  box-shadow: 0 0 20px black, 0 0 30px black;
}
.skew {
  /* transform: skewX(-20deg); */
}

@keyframes glow {
  0% {
    box-shadow: 0 0 30px red, 0 0 50px red;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 186, 133);
  }
  100% {
    box-shadow: 0 0 3px red, 0 0 10px red;
     background-color: rgb(255, 88, 88);
     color: white;
  }
}

.glow {
  animation-name: glow;
  animation-duration: 1.9s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}