@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


.button {
  background-color: rgb(29, 29, 29);
  @apply rounded-md px-2 py-1 inline-block;
  color: rgb(218, 218, 218);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }

  .button {
    background-color: rgb(234, 234, 234);
    color: black;
  }  
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.text p+p {
  @apply mt-4;
}

details > summary::before {
  content: '+';
  display:inline-block;
  width: 1em;

}
details[open] > summary::before {
  content: '–';
  display:inline-block;
  width: 1em;
}
details > summary {
 cursor: pointer;
 list-style: none;
 @apply m-1;

}
